<div class="container">
  <div class="card">
    <div class="card-header">
      Create quiz
    </div>

    <div class="card-body">

        <button class="btn btn-lg btn-outline-primary" 
                (click)="open(content)">
          Create Quiz
        </button>
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Create Quiz</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="createQuizForm">
            <div class="form-group">
              <div>
                  <label for="quizTittleId">
                    Title
                  </label>
                  
                  <div class>
                    <input id="quizTittleId"
                           class="form-control" 
                           type="text"
                           placeholder="Quiz title (required)"
                           formControlName="title"
                           name="quizTittle"
                           [ngClass]="{'is-invalid':
                            (createQuizForm.get('title').touched || 
                            createQuizForm.get('title').dirty) && 
                            !createQuizForm.get('title').valid }">
                  </div>
              </div>

              <br />

              <div>
                <label for="quizDescriptionId">
                  Description
                </label>
                <div class="">
                  <textarea id="quizDescriptionId" 
                            class="form-control" 
                            formControlName="description"
                            placeholder="Quiz description (optional)"
                            name="quizTittle">
                  </textarea>
                </div>
              </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success"
                        type="button"
                        [title]="createQuizForm.valid ? 'Create quiz' : 'Disabled until the form data is valid'"
                        [disabled]="!createQuizForm.valid"
                        (click)="modal.close('Save click')">
                  Save
                </button>
            </div>
          </form>
        </div>
      </ng-template>

     
      
      <hr>

      <pre>{{closeResult}}</pre>
    </div>
  </div>
</div>