<div class='panel panel-primary'>
    <div class='panel-body'>
        <div *ngIf="question">
            <div class="col-md-12">
                <h3> {{ question.question }} </h3>
                <ul class="list-group">
                    <li *ngFor="let answer of question.answers" class="list-group-item"
                        [ngClass]="{'is-correct': answer.isCorrect }">
                        {{ answer.answer }}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class='panel-footer'>
        <a class="btn btn-primary" style="width:80px" [routerLink]="questionId">
            Edit
        </a>
    </div>
</div>