<div class="container">
   <div class="card">
      <div class="card-header">
         {{pageTitle}}
      </div>
      <div class="card-body">
         <div class="container-fluid">
            <mat-card>
               <div>
                  Total quizzes: {{totalQuizzesCount}}
               </div>

               <div>
                  Total questions {{ totalQuestions }}
               </div>

               <div>
                  Total users: {{totalUsers}}
               </div>
            </mat-card>
         </div>
      </div>
   </div>
</div>

