<mat-spinner *ngIf="loading">
</mat-spinner>

<div *ngIf="!loading">
    <form novalidate
          [formGroup]="quizInfoForm">
       <fieldset>
         <legend>Edit Quiz Basic Information</legend>
         <div class="form-group row mb-2">
            <label class="col-md-2 col-form-label"
                  for="titleId">
               Quiz title
            </label>
            <div class="col-md-8">
            <input class="form-control"
                  id="titleId"
                  type="text"
                  formControlName="title" />
            </div>
         </div>
 
         <div class="form-group row">
            <label class="col-md-2 col-form-label"
                  for="descriptionId">
               Description
            </label>
            <div class="col-md-8">
               <textarea class="form-control"
                         id="descriptionId"
                         formControlName="description"
                         rows=3
                         name="description">
               </textarea>
            </div>
          </div>
       </fieldset>
    </form>

   <button class="btn btn-success mr-3"
           type="button"
           (click)="onSave()">
      Save
   </button>

   <hr />
 </div>