<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand"
     [routerLink]="['/welcome']">
    {{ brandName }}
  </a>

  <button class="navbar-toggler" 
          type="button" 
          data-toggle="collapse" 
          data-target="#navbarsExampleDefault" 
          aria-controls="navbarsExampleDefault" 
          aria-expanded="false" 
          aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse"
       id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" 
           routerLinkActive="active" 
           [routerLink]="['/welcome']">
          All Quizzes
        </a>
      </li>

      <ul class="navbar-nav m1-auto">
        <li class="nav-item">
          <a class="nav-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            [routerLink]="['/about']">
            About
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" 
             routerLinkActive="active" 
             [routerLinkActiveOptions]="{exact: true}"
             [routerLink]="['/users/register']">
            Register
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" 
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}"
             [routerLink]="['/users/login']">
            Login
          </a>
        </li>
      </ul>
    </ul>
  </div>
</nav>