<div class="container">
  <div class="card">
    <div class="card-header">
      Quiz Details page
    </div>

    <div class="card-body">
      <form>
        <fieldset>
          <legend>Quiz Information</legend>

          <div class="form-group row">
            <label class="col-md-2 col-form-label">
              Quiz Title
            </label>
            <div class="col-md-8">
              <input class="form-control" type="text" placeholder="Name (required)" disabled />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 col-form-label">
              Quiz Description
            </label>
            <div class="col-md-8">
              <textarea class="form-control" id="productCodeId" type="text" placeholder="Code (required)" disabled>
                            </textarea>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 col-form-label">
              Questions Count
            </label>
            <div class="col-md-8">
              <input class="form-control" type="number" placeholder="0" disabled />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 col-form-label">
              Success rate
            </label>
            <div class="col-md-8">
              <input class="form-control" type="number" placeholder="0" disabled />
            </div>
          </div>
        </fieldset>
      </form>

      <div class="mb-2">
        <button class="btn btn-outline-secondary mr-3"
                style="width:80px"
                type="button"
                title="Return to all quizzes"
                [routerLink]="['/quizzes/all']">
            Back
        </button>
        <button class="btn btn-outline-success"
                style="width:80px"
                type="button"
                title="Solve the quiz">
            Solve
        </button>
      </div>

    </div>
  </div>
</div>