<div class="container">
  <div class="card">
    <div class="card-header">
      Quiz Details page
    </div>

    <div class="card-body">
      <form>
          <div>
            Quiz Title : {{ quiz.name }}
          </div>

          <div>
              Quiz Description : {{ quiz.description }}
          </div>

          <div>
            Questions count : {{ quiz.questionsCount }}
          </div>

          <div>
              Quiz creator : {{ quiz.creator }}
          </div>

          <div>
              Success rate : 0
          </div>

          <div>
            Created on: {{ quiz.dateCreated?.toLocaleString() }}
          </div>
      </form>

      <div class="mb-2">
        <button class="btn btn-outline-secondary mr-3"
                style="width:80px"
                type="button"
                title="Return to all quizzes"
                [routerLink]="['/quizzes/all']">
            Back
        </button>
        <button class="btn btn-outline-success"
                style="width:80px"
                type="button"
                title="Solve the quiz">
            Solve
        </button>
      </div>

      <div *ngIf='true'
           class="mb-2">
        <button class="btn btn-success mr-3"
                style="width:80px"
                type="button"
                title="Edit"
                [routerLink]="'/quizzes/' + quiz.id + '/edit'">
            Edit
        </button>
      </div>

    </div>
  </div>
</div>