<div class="container">
  <div class="card">
    <div class="card-header">
      Quiz Details page
    </div>

    <div class="card-body">
      <form>
          <div>
            Quiz Title : {{ quiz.name }}
          </div>

          <div>
              Quiz Description : {{ quiz.description }}
          </div>

          <div>
            Questions count : {{ quiz.questionsCount }}
          </div>

          <div>
              Quiz creator : {{ quiz.creator }}
          </div>

          <div>
              Success rate : 0
          </div>

          <div>
            Created on: {{ quiz.dateCreated?.toLocaleString() }}
          </div>
      </form>

      <div class="mb-2">
        <button class="btn btn-outline-secondary mr-3"
                style="width:80px"
                type="button"
                title="Return to all quizzes"
                [routerLink]="['/quizzes/all']">
            Back
        </button>
        <button class="btn btn-outline-success"
                style="width:80px"
                type="button"
                title="Solve this quiz"
                [routerLink]="['/quizzes/solve/' + id]">
            Solve
        </button>
      </div>

      <!-- TODO: Only admins and creator can edit and delete quizzes -->
      <div *ngIf='true'
           class="mb-2">
        <hr />
        <button class="btn btn-success mr-3"
                style="width:80px"
                type="button"
                title="Edit"
                [routerLink]="'/quizzes/edit/' + id">
            Edit
        </button>
        <button class="btn btn-danger mr-3"
                style="width:80px"
                type="button"
                title="delete"
                (click)="open(content)">
            Delete
        </button>

        <hr />

        <div *ngIf="closeResult">
          {{ closeResult }}
        </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" 
        id="modal-basic-title-delete">
      Delete Quiz <span class='text-danger'>/Danger Zone/</span>
    </h4>

    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    Are you sure you want to delete the quiz and all questions?
  </div>

  <div class="modal-footer">
      <button class="btn btn-danger"
              type="button"
              (click)="modal.close('Delete confirmed')">
        Delete
      </button>
      <button class="btn btn-outline-secondary"
              type="button"
              (click)="modal.dismiss('Cancel click')">
        Cancel
      </button>
    </div>
</ng-template>