.sidenav-container {
   height: 100%;
}

.navbar-header-component {
}

.sidenav {
   width: 200px;
}

.sidenav .mat-toolbar {
   background: inherit;
}

.mat-toolbar.mat-primary {
   position: sticky;
   top: 0;
   z-index: 1;
}

.hidden {
   display: none;
}

.menu-spacer {
   flex: 1 1 auto;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
   height: 100%;
}

a {
   text-decoration: none;
   color: white;
}

a:hover,
a:active {
   color: lightgray;
}
