<div class="container">
  <div class="card">
    <div class="card-header">
      <!-- {{  }} -->
    </div>

    <div class="card-body">
        <div *ngIf="question && !isQuizFinished">
            <app-question-answer 
                [question]="question">
            </app-question-answer>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"
                        (click)="previousQuestion()"
                        [ngClass]="{'disabled': isFirstQuestion}">
                        <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item"
                        (click)="nextQuestion()"
                        [ngClass]="{'disabled': isLastQuestion}">
                        <a class="page-link">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

        <app-quiz-result *ngIf="isQuizFinished"
                         [solvedQuiz]="solvedQuestions">
            
        </app-quiz-result>
	</div>

    <div class="mb-2 finish-button-wrapper">
        <button *ngIf="isLastQuestion"
                class="btn btn-outline-success"
                type="button"
                title="Finish"
                (click)="onFinished()">
            Finish
        </button>
    </div>

    <hr />

  </div>
</div>