.btn-container {
   margin-top: 30px;

   > button {
      margin: 10px;
      font-size: larger;
   }

   .success-icon {
      font-size: 50px;
      margin-right: 20px;
   }

   .success-text {
      padding-bottom: 20px;
   }

}

.check-btn {
   margin-top: 30px;
}

.is-correct {
   color: green;
}

.is-wrong {
   color: red;
}

div.finish-button-wrapper {
   text-align: center;

   button {
      font-size: 1.3rem;
      width: 100px;
   }
}

.disabled {
   pointer-events: none; // This makes it not clickable
   opacity: 0.6; // This grays it out to look disabled
}
