<div class="container">
   <div class="card">
      <div class="card-header">
      </div>

      <div class="card-body">
         <div *ngIf="question && !isQuizFinished">
            <h3> {{ question.question }} </h3>

            <app-answers-list
               [availableAnswers]="question.answers"
               (answerChange)="onAnswerChange($event)">
            </app-answers-list>

            <div class="btn-container">
               <button mat-raised-button
                       class="check-btn"
                       color="primary"
                       [disabled]="!isAnswerSelected"
                       (click)="onCheckClick()">
                  Check
               </button>
            </div>
         </div>

         <app-quiz-result *ngIf="isQuizFinished"
                          [solvedQuiz]="solvedQuestions">
         </app-quiz-result>
      </div>
   </div>
</div>