<div class="card-body">
    <form novalidate>
       <fieldset>
          <legend>Quiz Info Edit</legend>
 
          <div class="form-group row">
             <label class="col-md-2 col-form-label"
                    for="quizTitleId">Quiz title</label>
             <div class="col-md-8">
                <input class="form-control"
                       id="quizTitleId"
                       type="text"
                       placeholder="Name (required)"
                       required
                       minlength="3"
                       name="quizTitle" />
             </div>
          </div>
 
          <div class="form-group row">
             <label class="col-md-2 col-form-label"
                    for="descriptionId">Description</label>
             <div class="col-md-8">
           <textarea class="form-control"
                     id="descriptionId"
                     placeholder="Description"
                     rows=3
                     name="description"></textarea>
             </div>
          </div>
       </fieldset>
    </form>
 </div>
 
 <div class='alert alert-danger'
      *ngIf='errorMessage'>{{errorMessage}}
 </div>