<div class="container">
  <div class="card">
    <div class="card-body">
        <div class="wizard">
            <a [routerLink]="['info']"
               routerLinkActive="active">
                Basic Information
            </a>
            <a [routerLink]="['add']"
               routerLinkActive="active">
                Add Questions
            </a>
            <a [routerLink]="['questions']"
               routerLinkActive="active">
                Preview Questions
            </a>
        </div>
  
        <router-outlet></router-outlet>
  
        <div class="mb-2">
            <div>
                <button class="btn btn-outline-secondary mr-3"
                        type="button"
                        (click)="backClicked()">
                    Back
                </button>

                <button class="btn btn-outline-danger"
                        type="button"
                        title="Delete the quiz"
                        (click)="deleteQuiz()">
                    Delete
                </button>
            </div>
        </div>
    </div>
  </div>
</div>