/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

.is-correct {
    border: 2px solid green;
}

div.card-header {
    font-size: x-large;
    text-align: center;
}

div.card-body {
    text-align: center;
}

legend {
    text-align: center;
}

#toast-container > div {
    opacity: 1;
}

.toast-top-right {
    padding-top: 60px;
}