<form class="container quiz-form" [formGroup]="formGroup">
  <mat-form-field class="input-field">
    <mat-label>Quiz title</mat-label>
    <input matInput formControlName="title" placeholder="Enter quiz title">
    <mat-error *ngIf="isTitleValid">
      Required field, must be between 5 and 100 characters.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input-field">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description" placeholder="Enter quiz description...">
    </textarea>
    <mat-error *ngIf="isDescriptionValid">
      Required field, must be up to 500 characters.
    </mat-error>
  </mat-form-field>

  <div>
    <button mat-raised-button color="primary" class="centered-btn" (click)="createQuiz()" [disabled]="!formGroup.valid">
      Create Quiz!
    </button>
  </div>
</form>